{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>My Shopping</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/bs4/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/fa/css/all.min.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet" />
        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
        {% include 'core/main-navbar.html' %}
        <div class="container-fluid p-0 h-100" id="main-content-area">
            <div class="h-100 d-flex flex-column">
                <div class="row flex-grow-1 pt-2 pb-2">
                    <div class="col">
                        {% if messages %}
                        <div class="container p-0" id="flash-messages">
                            <ul class="messages border">
                                {% for message in messages %}
                                <li {% if message.tags %} class="text-{{ message.tags }} p-2" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% block content%}{% endblock%}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% block footer %}{% endblock %}
                        <!-- {% include 'core/main-footer.html' %} -->
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'core/bs4/js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'core/bs4/js/popper.min.js' %}"></script>
        <script src="{% static 'core/bs4/js/bootstrap.min.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>

</html>
