<footer id="main-footer" class="footer">
    <div class="container">
        <div class="row">
            <article class="col-md-6">
                <h5>About Us</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                </p>
            </article>
            <article class="col-md-6">
                <h5>Contact Us</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                </p>
            </article>
        </div>
    </div>
</footer>