#main-header {
    a {
        color: #33F;
    }

    .navbar-brand {
        img {
            height: 24px;
        }
    }

    ul {
        li {
            a {

                &:hover,
                &:active {
                    color: #33C;
                }
            }
        }
    }

    margin-bottom: 1rem;
}

#cart-icon {
    position: relative;

    span {
        color: #fff;
        position: absolute;
        top: -8px;
        left: 8px;
        background: #F66;
        border-radius: 4px;
        padding: 1px 4px;
        font-weight: normal;
        font-size: 72%;
    }
}