#main-footer {
    display: inline-flex;
    background: #011;


    article {
        h5 {
            color: #999;
        }

        p {
            padding-right: 2rem;
            color: #666;
        }

        &:last-child {
            p {
                padding-right: 0;
            }
        }
    }
}